@model IEnumerable<OData1c_console.TestBase.Document_АктВыполненныхРабот>

@*Таблица с актами выполненных работ*@
<table id="docs_table" class="table table-striped table-condensed table-hover table-bordered">
    <thead>
        <tr>
            <th>Номер</th>
            <th>Дата</th>
            <th>Контрагент</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var e in Model)
        {
            <tr>
                <td>@e.Number</td>
                <td>@e.Date</td>
                <td>@e.Контрагент.Description</td>
            </tr>
        }
    </tbody>
</table>

<style>
    @*Стиль для подсвечивания строки таблицы*@
    .table-striped tbody tr.highlight td { background-color: bisque; }
</style>

<script>
    // При щелчке по строке таблицы, подсвечиваем её
    $('#docs_table > tbody > tr').on('click', function () {
        $(this).addClass('highlight').siblings().removeClass('highlight');
    });

    $('#docs_table > tbody > tr').on('dblclick', function () {
        var row = $(this).find("td");
        alert("Номер:" + row.eq(0).html() + ", дата: " + row.eq(1).html());
    });

</script>